Source: pix
Section: devel
Priority: extra
Maintainer: Mirko Brombin <send@mirko.pm>
Uploaders: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go
Standards-Version: 3.9.6
Homepage: https://github.com/koompi-os/pix
Vcs-Browser: https://github.com/koompi-os/pix
Vcs-Git: git://github.com/koompi-os/pix.git

Package: pix
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         micro-distrobox,
         podman,
         golang-go
Built-Using: ${misc:Built-Using}
Description: pix is the default package manager in KOOMPI OS.