[Desktop Entry]
Exec=$HOME/.local/bin/bluetooth-off-on-boot.sh
Icon=dialog-scripts
Name=bluetooth-off-on-boot.sh
Path=
Type=Application
X-KDE-AutostartScript=true
