[Unit]
Description=Automatic Package Sync and Notification
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'sleep 3600 && /usr/bin/autocheck'

[Install]
WantedBy=default.target