[Unit]
Description=Run Satpaper on login

[Service]
Environment=XDG_CURRENT_DESKTOP=KDE
Environment=SATPAPER_SATELLITE=himawari
Environment=SATPAPER_RESOLUTION_X=1920
Environment=SATPAPER_RESOLUTION_Y=1080
Environment=SATPAPER_DISK_SIZE=85
Environment=SATPAPER_TARGET_PATH=/tmp/

ExecStart=/usr/bin/satpaper
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
