[Desktop Entry]
Exec=rofi -show drun -theme ~/.config/rofi/rofi.rasi
Name=launcher
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
