[Unit]
Description=Create user directories
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'LC_ALL=C.UTF-8 xdg-user-dirs-update --force'

[Install]
WantedBy=multi-user.target
