[Unit]
Description=Set password for live user
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'echo "koompilive:123" | chpasswd'
RemainAfterExit=true

[Install]
WantedBy=multi-user.target