[Desktop Entry]
Name[it]=KOOMPI OS Centro di Controllo
Name[fr]=Centre de contrôle de KOOMPI OS
Name[de]=KOOMPI OS Kontrollzentrum
Name[hi]=वैनिला OS कंट्रोल सेंटर
Name[pt]=Centro de Controlo do KOOMPI OS
Name[es]=Panel de control de KOOMPI OS
Name[pt_BR]=Central de Controle do KOOMPI OS
Name[id]=Pusat Kontrol KOOMPI OS
Name[nl]=Instellingen van KOOMPI OS
Name[tr]=KOOMPI OS Kontrol Merkezi
Name[sv]=KOOMPI OS Kontrollcenter
Name[ru]=Центр управления KOOMPI OS
Name[eo]=Stirpanelo de KOOMPI OS
Name[zh_Hans]=KOOMPI OS 控制中心
Name[cs]=Ovládací Centrum KOOMPI OS
Name[uk]=Центр керування KOOMPI OS
Name[hu]=KOOMPI OS Vezérlőpult
Name[pl]=Panel sterowania KOOMPI OS
Name[zh_Hant]=KOOMPI OS 控制中心
Name[ko]=바닐라 OS 제어 센터
Name[vi]=Trung Tâm Điều Khiển hệ điều hành KOOMPI
Name[el]=Κέντρο ελέγχου KOOMPI OS
Name[gl]=Centro de Control de KOOMPI OS
Name[sk]=KOOMPI OS Ovládacie centrum
Name[ro]=Panoul de control KOOMPI OS
Name[ms]=KOOMPI OS Pusat Kawalan
Name[th]=ศูนย์ควบคุม KOOMPI OS
Name[ar]=مركز تحكم نظام فانيلا
Name[ta]=வெண்ணிலா OS கட்டுப்பாட்டு மையம்
Name=KOOMPI OS Control Center
Exec=control-center
Icon=org.koompios.ControlCenter
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
